@using Project.Models
@model List<Product>
@{
    ViewBag.Title = "Index";
   
}


<h2>Index</h2>
<div style="display:flex;margin-left:5px">
    @foreach (var item in Model)
    {
    <div class="card" style="width:400px">
        <img class="card-img-top" src="~/Content/images/@item.image" alt="Card image" style="width:100%" >
        <div class="card-body">
            <h4 class="card-title">Name: @item.Name</h4>
            <p class="card-text">@item.Category</p>
            <a href="#" class="btn btn-primary">price:@item.price</a>
        </div>
    </div>

        }
</div>

